.calendar-grid-container {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
}

.cell {
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.cell input {
    margin-bottom: 5px;
    padding: 5px;
    width: calc(100% - 10px);
}

/* 미디어 쿼리를 사용하여 모바일 장치에 대한 스타일 지정 */
@media only screen and (max-width: 600px) {
    .cell input[type="text"] {
        font-size: 14px; /* 모바일 장치에서 폰트 크기를 줄임 */
    }
}
